apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: redis-operator
  namespace: openshift-operators
  labels:
    operators.coreos.com/redis-operator.openshift-operators: ''
spec:
  channel: stable
  installPlanApproval: Automatic
  name: redis-operator
  source: community-operators
  sourceNamespace: openshift-marketplace