apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: redis-operator
  namespace: redis
  labels:
    operators.coreos.com/redis-operator.openshift-operators: ''
spec:
  channel: alpha
  installPlanApproval: Automatic
  name: redis-operator
  source: community-operators
  sourceNamespace: openshift-marketplace
  startingCSV: redis-operator.v0.8.0